body{
background: #f6f6fa;
font-size: large;
padding-left: 40px;
padding-right: 40px;
padding-top: 40px;
padding-bottom: 40px;
font-family: "Montserrat", sans-serif;
}
.main-content{
    padding-left: 88px;
    padding-right: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box;
    background-color: #f22fff;
}
.wrapper {
background: #ffffff;
display: flex;
flex-direction: row-reverse;
}